
.container_card {
    grid-column: 2/4;
    &.card{
       margin: 5rem 2rem;
       padding: 1rem;
       width: 60%;
       
        
    }
}

@media screen and ( min-width:map-get($version,tablet)){
    .container_card {
        position: relative;
        top: 5rem;
        right: 5rem;
    }
}

@media screen and ( min-width:map-get($version,pc)){
    .container_card {
        position: relative;
        top: 5rem;
        right: 10rem;
    }

    .container_prestataire_simi{
        grid-column: 2/4;
        grid-row: 6;
        display: flex;
        flex-wrap: wrap;
        
        & .card_prestataire_simi {
            margin: 1rem;
        }
    }
}