<h1>Hello, confirmez votre e-mail</h1>

<p>



Nous sommes ravis de vous accueillir au sein de notre communauté ! Votre inscription a bien été enregistrée et nous sommes impatients de vous offrir une expérience exceptionnelle.



Si vous avez des questions ou avez besoin d'aide, n'hésitez pas à nous contacter à admin@wellnessdirectory.com .


 
    SVP cliquer sur le boutton pour confirmer votre e-mail et completer votre profil <br><br>
    <button class="button"><a href="{{ signedUrl|raw }}">Cliquez ici</a><button>.
    ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci de faire partie de Wellness directory !

    Cordialement,

</p>
