/* couleurs*/

$color: (
    texte:#fff,
    texte1:#000,
    texte3: #87d02a,
    
    
);

/*Fond d'écran*/


$background_color:(
    background-1: #fff,
    background-2:#000,
    background-3:#f8f9fa,
    background-4:#87d02a,
);

/*media quieri*/

$version:(
    tablet: 640px,
    pc: 850px,
) 