<div class="internauteForm" id='internauteForm'>  
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_nom_int">Nom</span>
        <input type="text" id="nom_int" name="nom" class="form-control" aria-label="Sizing example input" aria-describedby="lb_nom_int" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_prenom_int">Prénom</span>
        <input type="text" id="prenom_int" name="prenom" class="form-control" aria-label="Sizing example input" aria-describedby="lb_prenom_int" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_rue_int">Rue</span>
        <input type="text" id="rue_int" name="rue" class="form-control" aria-label="Sizing example input" aria-describedby="lb_rue_int" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_numero_int">Numero</span>
        <input type="number" id="numero_int" name="rue" class="form-control" aria-label="Sizing example input" aria-describedby="lb_numero_int" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_code_postal_int">Code postal</span>
        <input type="number" id="code_postal_int" name="code_postal" class="form-control" aria-label="Sizing example input" aria-describedby="lb_code_postal_int" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_commune_int">Commune</span>
        <input type="text" id="commune_int" name="commune" class="form-control" aria-label="Sizing example input" aria-describedby="lb_commune_int" required>
    </div> 
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
        <input type="file" class="formFile_int" id="inputGroupFile01">
    </div>

    {#<div class="input-group mb-3">        
        <input class="form-control" type="file" id="formFile_int">
    </div>#}
    <div class="input-group mb-3">
        <div class="input-group-text">
            <input class="form-check-input mt-0" id="newsletter_int" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <input type="text" class="form-control" value="s'inscrire à la newsletter" aria-label="Text input with checkbox" readonly>
    </div>
    

</div>
