<div class="prestataireForm" id='prestataireForm'>  
    
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_nom_pre">Nom</span>
        <input type="text" id="nom_pre" name="nom_pre" class="form-control" aria-label="Sizing example input" aria-describedby="lb_nom_pre" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_tva_pre">tva</span>
        <input type="text" id="tva_pre" name="tva" class="form-control" aria-label="Sizing example input" aria-describedby="lb_nom_pre" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_telephone_pre">téléphone</span>
        <input type="text" id="telephone_pre" name="telephone" class="form-control" aria-label="Sizing example input" aria-describedby="lb_telephone_pre" >
    </div>
    <div class="input-group mb-3">
        <input class="form-control" name='formFile_pre' type="file" id="formFile_pre">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_rue_pre">Rue</span>
        <input type="text" id="rue_pre" name="rue" class="form-control" aria-label="Sizing example input" aria-describedby="lb_rue_pre" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_numero_pre">Numéro</span>
        <input type="text" id="numero_pre" name="numero" class="form-control" aria-label="Sizing example input" aria-describedby="lb_numero_pre" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_code_postal_pre">Code postal</span>
        <input type="text" id="code_postal_pre" name="cp" class="form-control" aria-label="Sizing example input" aria-describedby="lb_code_postal_pre" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_commune_pre">Commune</span>
        <input type="text" id="commune_pre" name="Commune" class="form-control" aria-label="Sizing example input" aria-describedby="lb_commune_pre" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_site_internet_pre">Site internet</span>
        <input type="text" id="site_internet_pre" name="Site_internet" class="form-control" aria-label="Sizing example input" aria-describedby="lb_site_internet_pre" >
    </div>    
    <div class="input-group mb-3">
        <button type="button" id="submitprestataireForm">suivant </button>
    </div>
</div>
