<div class="promotionForm" id='promotionForm'>  
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_nom_promo">Nom</span>
        <input type="text" id="nom_promo" name="nom" class="form-control" aria-label="Sizing example input" aria-describedby="lb_nom_promo" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_description_promo">Description</span>
        <input type="textarea" id="description_promo" name="description" class="form-control" aria-label="Sizing example input" aria-describedby="lg_description_promo" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_dateIn_promo">Date de début</span>
        <input type="date" id="dateIn_promo" name="dateIn" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateIn_promo" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_dateOut_promo">Date de début</span>
        <input type="date" id="dateOut_promo" name="dateOut" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateOut_promo" >
    </div>
    <div class="input-group mb-3">
        <button type="button" id="submitPromotionForm">Envoyer et terminer</button>
    </div>

</div>
