<div class="stageForm" id='stageForm'>  
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_nom_stg">Nom</span>
        <input type="text" id="nom_stg" name="nom" class="form-control" aria-label="Sizing example input" aria-describedby="lb_nom_stg" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_description_stg">Description</span>
        <input type="textarea" id="description_stg" name="description" class="form-control" aria-label="Sizing example input" aria-describedby="lg_description_stg" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_tarif_stg">Tarif</span>
        <input type="number" id="tarif_stg" name="tarif" class="form-control" aria-label="Sizing example input" aria-describedby="lb_tarif_stg" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_dateIn_stg">Date de début</span>
        <input type="date" id="dateIn_stg" name="dateIn" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateIn_stg" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_dateOut_stg">Date de début</span>
        <input type="date" id="dateOut_stg" name="dateOut" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateOut_stg" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_affichageIn_stg">Date de début de l'affichage</span>
        <input type="date" id="affichageIn_stg" name="affichageIn" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateOut_stg" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lb_affichageOut_stg">Date de début de l'affichage</span>
        <input type="date" id="affichageOut_stg" name="affichageOut" class="form-control" aria-label="Sizing example input" aria-describedby="lb_dateOut_stg" >
    </div>
    <div class="input-group mb-3">
        <button type="button" id="submitStageForm">Suivant</button>
    </div>

</div>
