<div class="container_h">
    <div class="container h-header">
        <div class= "logo-container ">
            <img src="{{asset('img/logo_site.png')}}" class="logo logo_picture" alt="">
        </div>
        <div class="container_menu">       
            <span id="menuHamburger" class="h-hamburger-icon">
                <span class="fa fa-bars"></span>                
            </span>
            <div id="mainMenu" class="navigation">
                <nav class='h-nav'>
                    <ul class="h-nav-ul">
                        <li class='btn'><a href="{{path('app_home')}}">Home</a></li>
                        <li class='btn'><a href="#">A propos</a></li>
                        <li class='btn'><a href="#">Partenaire</a></li>
                        <li class='btn'><a href="#">Par région</a></li>
                        <li class='btn'><a href="#">Stages</a></li>
                        <li class='btn'><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>              
        <div class="dropdown icon_login">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </button>
            <ul class="dropdown-menu"> 
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a class="dropdown-item" href="#">déconnexion</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
            <li><a class="dropdown-item" href="#">Connexion</a></li>
            {% endif %}                   
                
                <li><a class="dropdown-item" href="#">Créer un compte</a></li>
            </ul>
        </div>          
    </div>
</div>