<div class="container containerSearch_form">
    <div class="row">
        <div class="col-md-12 mt-3 formInput text-center">
            <select id="select_prestataire" name="select_prestataire" class="form-select select_prestataire">               
            </select>
        </div>
        <div class="col-md-12 mt-3 formInput text-center">
            <select id="select_categorieDeServices" name="select_categorieDeServices" class="form-select select_categorieDeServices">
               
            </select>
        </div>
        <div class="col-md-12 mt-3 formInput text-center">
            <select id="select_ville_CP_region" name="select_ville_CP_region" class="form-select select_ville_CP_region">
                
            </select>
        </div>
        <div class="col-md-4 formInput formSubmit">
            <button type="button" class="button" id="btn_FormSearch">Recherche</button>
        </div>
    </div>
</div>
